#img1
{
    height: 120px;
    margin-right: 40px;
    vertical-align: middle;
}


.homeImages 
{
    animation: rotation 15s infinite linear;
    margin: 20pt;
}
  
@keyframes rotation {
   from {      
    transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }


.homeLink
{
    color: rgb(0, 150, 255);
    margin-right: 500px;
    vertical-align: middle;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.signInLink
{
    color: rgb(0, 150, 255);
    margin-right: 30px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.signUpLink
{
    color: rgb(0, 150, 255);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;   
}

.signButt
{
    margin-top: 60px;
    border-radius: 4px;
    cursor : pointer;
    font-size: 21px;
    border: none;
    background-color: rgb(0, 150, 255);
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.fieldset1
{
    margin: 0 auto;
    text-align: left;
    width: 70%;
    background-color: lightgray;
    border-width: 0ch;
}

.button
{
    margin-left: 450px;
    border-radius: 4px;
    margin-top: 60px;
    background-color: white;
    padding: 7px;
    color: rgb(0, 150, 255);
    border: 0ch;
    transition: all 0.5s;
    cursor: pointer;
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }



#inp1
{
    background-color: white;
    border-color: rgb(0, 150, 255);
    color: rgb(0, 150, 255);
    height: 20px;
    width: 300px;
    margin-left: 60px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inp2
{
    background-color: white;
    border-color: rgb(0, 150, 255);
    color: rgb(0, 150, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 20px;
    width: 300px;
    margin: 20px;
    margin-top: 10px;
}

.divPage1
{
    margin-left: 100px;
    color: rgb(0, 150, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 50px;
}

.GoToImage
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    background-color: white;
    color: rgb(0, 150, 255);
    padding: 7px;
    margin: 7pt;
    margin-top: 18pt;
    cursor: pointer;
    border-radius: 4px;
}

/* for making the images side by side */
.column 
{
    float: left;
    width: 25%;   
}
  
  /* Clear floats after image containers */
.row::after 
{
    content: "";
    clear: both;
    display: table;
}

#fieldLogin
{
    
    border: none;
    margin-top: 50px;
    color: rgb(0, 150, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#forgotPassButt
{
    color: rgb(0, 150, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 780px;
    border: none;
    background-color: white;
}

#tableMemberList
{
    border-color: rgb(0, 150, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 150, 255);
    margin-top: 100px;
    width: 950px;
}

.trMemberList
{
    border: none;

}
.imgmember
{
    position: absolute;top: 200px; left: 400px; width: 200px; height: 192.2px;

}
#memberlist
{
    position: absolute;top: 200px; left: 700px; text-align: left    ;
}
#memberlisteditbutton
{
    position: absolute;top: 180px; left: 900px;
=======
    height: 80pt;
}

td,th
{
    border-color: rgb(0, 150, 255);
}

img
{
    height: 150pt;
}

#parrError
{
    color: rgb(0, 150, 255);
    font-size: medium;
    margin-left: 600pt;
}

#ResultsTable {
    border-color: rgb(0, 150, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 150, 255);
    margin-top: 20pt;
    width: 950px;
    margin-left: 200pt;
}
.tb tr{
    text-align:center;

}

.thResultsTable
{
    font-size: large;
    height: 90pt;
    width: 300pt;
}

#booklist
{
    border: none;
    margin-left: 165pt;
}

.booklistth
{
    font-size: 17pt;
    color: rgb(0, 150, 255);
    padding: 20pt;
    width: 200pt;
    border: none;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;

}

.booklistth1
{
    font-size: 17pt;
    color: rgb(0, 150, 255);
    width: 200pt;
    border: none;
    padding-left: 22pt;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;

}

.booklistinfo
{
    border: none;
    color: rgb(0, 150, 255);
    font-size: large;
}

.BL_imgcell
{
    border: none;
    padding: 20pt;
}

.booklistname
{
    text-align: center;
    font-size: larger;
    border: none;
}

.booknamelink
{
    color: rgb(0, 150, 255);
}

#headerBookList
{
    text-decoration: none;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 150, 255);
    margin-top: 80px;
    margin-bottom: 30px;
}

.animateChar
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    rgb(0, 150, 255) 0%,
    rgb(27, 109, 167) 29%,
    rgb(106, 106, 116) 67%,
    lightgray 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 35px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

#imagesBookList
{
    margin-left: 70pt;
    margin-right: 70pt;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60pt;
}