#img1
{
    height: 120px;
    margin-right: 40px;
    vertical-align: middle;
}

.homeLink
{
    color: rgb(0, 150, 255);
    margin-right: 500px;
    vertical-align: middle;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.signInLink
{
    color: rgb(0, 150, 255);
    margin-right: 30px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.signUpLink
{
    color: rgb(0, 150, 255);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;   
}

.signButt
{
    margin-top: 60px;
    font-size: 21px;
    border: none;
    background-color: rgb(0, 150, 255);
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.fieldset1
{
    margin: 0 auto;
    text-align: left;
    width: 70%;
    background-color: lightgray;
    border-width: 0ch;
}

#browseButton
{
    margin-left: 450px;
    margin-top: 60px;
    padding: 7px;
    background-color: rgb(0, 150, 255);
    color: aliceblue;
    border: 0ch;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#addButton
{
    margin-left: 70px;
    margin-top: 60px;
    padding: 7px;
    background-color: rgb(0, 150, 255);
    color: aliceblue;
    border: 0ch;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inp1
{
    background-color: white;
    border-color: rgb(0, 150, 255);
    color: rgb(0, 150, 255);
    height: 20px;
    width: 300px;
    margin-left: 100px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inp2
{
    background-color: white;
    border-color: rgb(0, 150, 255);
    color: rgb(0, 150, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 20px;
    width: 300px;
    margin: 20px;
    margin-top: 10px;
}

.divPage1
{
    margin-left: 100px;
    color: rgb(0, 150, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 50px;
}

.GoToImage
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    background-color: rgb(0, 150, 255);
    color: aliceblue;
    padding: 7px;
}

/* for making the images side by side */
.column 
{
    float: left;
    width: 25%;   
}
  
  /* Clear floats after image containers */
.row::after 
{
    content: "";
    clear: both;
    display: table;
}

.belowBar
{
    text-align: center;
    margin-top: 70px;
    color: rgb(0, 150, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#fieldLogin
{
    
    border: none;
    margin-top: 50px;
    color: rgb(0, 150, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#forgotPassButt
{
    color: rgb(0, 150, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 780px;
    border: none;
    background-color: white;
}

#booklist
{
    width:85%;
    border-collapse:collapse;
    border:none;
    font-size:12px;
    margin-left: auto;
    margin-right: auto;
}
.booklistth
{
    font-size: 22px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    border: none;
}


.booklistimg
{
 height: 200px;
 width: 150px;
 }

 .BL_imgcell
 {
    text-align: center;
    padding-top: 45px;
    padding-bottom: 35px;
    border: none;
 }

 .booklistinfo
 {
     vertical-align: center;
     text-align: left;
     font-size: 17px;
     font-weight: bold;
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     width: 500px;
     color: rgb(0, 150, 255);
     border: none;
 }

 .booklistname
 {
    text-align: center;
    font-size: 20px; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
}

.booknamelink
{
    color: rgb(0, 150, 255);
}

 .booknamelink:hover
 {
    color: gray;
 }
 .booknamelink:link
 {
    color: blue;
 }

#tableMemberList
{
    border-color: rgb(0, 150, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 150, 255);
    margin-top: 100px;
    width: 950px;
}

.trMemberList
{
    border: none;
    height: 80pt;
}

td,th
{
    border-color: rgb(0, 150, 255);
}
